:root {
    --darkBlue: #0f0f4f;
    --white: #fff;
    --dark: #1b1b1b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
    font-size: 30px;
}

.section__header {
    margin: auto;
    text-align: center;
    letter-spacing: 3px;
    color: var(--darkBlue);
}

.hamburger-desktop {
    display: none;
    position: fixed;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 2;
    transition: 0.5s;
    background-image: linear-gradient(to bottom, #0f0f4f6d, #0f0f4f47);
}

#sideNav li:hover {
    transition: all 0.5s ease;
}

nav ul li, nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    position: relative;
    list-style: none;
}

nav ul li, nav ul li a:hover {
    cursor: pointer;
}

nav ul li, nav ul li a,
nav ul li::after, nav ul li a::after,
nav ul li::before, nav ul li a::before {
    transition: 0.3s;
}

nav ul li::after, nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: left;
}

nav ul li:hover::after, nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

a.nav__link:hover {
    color: var(--white);
}

#menubtn {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menubtn img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    background-color: transparent;
    transition: opacity .6s ease;
}

#menubtn img:hover {
    opacity: 0.5;
}

header {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:aliceblue;
    text-shadow: 1px 1px 2px #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 0, 0, 0.309)), url("img/notary3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header img {
    width: 10rem;
    height: 10rem;
}

header h1 {
    font-size: 4em;
    margin-bottom: 10px;
}

header h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

header h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

header .contactBtn {
    width: 150px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--darkBlue);
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

header .contactBtn:before {
    content: "";
    position: absolute;
    top: 0;
    right: -50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: skewX(-45deg);
    transition: all 0.6s;
    z-index: 1;
}

header .contactBtn:hover {
    background-color: #555;
    border-color: var(--darkBlue);
    transform: scale(1.05);
}

header .contactBtn:hover:before {
    right: 150%;
}

.section__header {
    padding: 20px 0;
    text-align: center;
}

.section__header .display-3 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.section__header p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#hours {
    background-color: #f9f9f9;
    padding: 40px 20px;
    border-top: 3px solid #e1e1e1;
    border-bottom: 3px solid #e1e1e1;
}

#contact {
    padding-top: 100px;
}

#contact .container {
    padding-top: 50px;
    text-align: center;
}

#contact iframe {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;

}

#contact #phone {
    color: #1b1b1b;
}

#contact #mail {
    color: #1b1b1b;
}

#contact #address {
    color: #1b1b1b;
}

footer {
    padding: 110px;
    height: 10vh;
    text-align: center;
}

footer.footer a {
    color: var(--darkBlue);
    text-decoration: NONE;
    transition: opacity 0.3s ease;
}

footer.footer a:hover {
    opacity: 50%;
}
@media (max-width: 997px) {
    nav.nav.nav-desktop {
        display: none;
    }

}
@media (min-width: 997px) {

    .nav__link {
        color: var(--white);
        text-decoration: none;
        font-size: 20px;
        padding: 10px 20px;
        text-transform: uppercase;
        position: relative;

    }

    .nav__link:hover {
        cursor: pointer;
    }

    .nav .link,
    .nav .link::after,
    .nav .link::before {
        transition: 0.3s;
    }

    .nav__link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: var(--darkBlue);
        transition: transform 0.3s;
        transform: scaleX(0);
        transform-origin: left;
    }
    .nav__link:hover::after {
        transform: scaleX(1);
        transform-origin: right;
    }
}