:root {
    --red: #da251c;
    --burgundy: #800020;
    --white: #fff;
    --dark: #1b1b1b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}


body {
    background-color: #ffffff;
    font-size: 30px;
}

.section__header {
    margin: auto;
    text-align: center;
    letter-spacing: 3px;
    color: var(--red);
}

.hamburger-desktop {
    display: none;
    position: fixed;
    display: none;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 2;
    transition: 0.5s;
    background-image: linear-gradient(to bottom, #c4c4c4, rgba(255, 255, 255, 0.098));
}

#sideNav li:hover {
    transition: all 0.5s ease;
    color: #1b1b1b;
}

nav ul li, nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
}

nav ul li, nav ul li a:hover {
    cursor: pointer;
}

nav ul li, nav ul li a,
nav ul li::after, nav ul li a::after,
nav ul li::before, nav ul li a::before {
    transition: 0.3s;
}

nav ul li::after, nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    transition: transform 0.3s;
    transform: scaleX(0);
    transform-origin: left;
}

nav ul li:hover::after, nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

a.nav__link:hover {
    color: var(--red);
}

#menubtn {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menubtn img {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    background-color: transparent;
    transition: opacity .6s ease;
}

#menubtn img:hover {
    opacity: 0.5;
}

#canvas {
    padding-top: 200px;
    opacity: 0.5;
    position: fixed;
    z-index: -1;
}

header {
    height: 100vh;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 999;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px #ffffff;

}

header h1 {
    font-size: 5em;
}

header p {
    font-size: 3em;
}

#contact {
    padding-top: 100px;
}

#contact .container {
    padding-top: 200px;
    text-align: center;
}

#contact iframe {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    height: 600px;
}

#contact #phone {
    color: #1b1b1b;
}

#contact #mail {
    color: #1b1b1b;
}

#contact #address {
    color: #1b1b1b;
}


footer {
    padding: 110px;
    height: 10vh;
    text-align: center;
}

footer.footer a {
    color: var(--red);
    text-decoration: NONE;
    transition: opacity 0.3s ease;
}

footer.footer a:hover {
    opacity: 50%;
}


@media (max-width: 997px) {
    nav.nav.nav-desktop {
        display: none;
    }

    canvas {
        width: 100vh;
    }

    .lightbox {
        margin: 30px;
        padding: 30px;
    }


}

@media (min-width: 997px) {
    .nav {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 1em;
    }

    .nav-desktop {
        display: block;
        color: var(--red);
    }

    .nav__link {
        color: var(--dark);
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
        text-transform: uppercase;
        position: relative;
        padding: 10px 20px;
        text-decoration: none;
    }

    .nav__link:hover {
        cursor: pointer;
    }

    .nav .link,
    .nav .link::after,
    .nav .link::before {
        transition: 0.3s;
    }

    .nav__link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: var(--red);
        transition: transform 0.3s;
        transform: scaleX(0);
        transform-origin: left;
    }
    .nav__link:hover::after {
        transform: scaleX(1);
        transform-origin: right;
    }
}